.header {
    padding: 2rem;
    position: relative;

}

.header_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    object-fit: cover;
}

.header_logo img {
    width: 10rem;
}

.header_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.header_links a {
    color: var(--black);
    font-size: 1.4rem;

}

.header_cta button a {
    color: var(--white);
}

.header_icon {
    display: none;
}

.cartItem {
    position: absolute;
    padding: .2rem .4rem;
    background-color: var(--bg-red);
    color: var(--white);
    border-radius: .6rem;
    font-size: 1.5rem;
}

@media (max-width:720px) {
    .header_links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: -100rem;
        background-color: var(--white);
        width: 40%;
        height: 100vh;
        z-index: 100;
        transition: 200ms ease-in-out;
    }

    .header_links.active {
        left: 0;
    }

    .header_icon {
        position: absolute;
        display: block;
        right: 1rem;
        top: 2.6rem;
    }

    .header_cta {
        margin-right: 3rem;
    }
}